
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
    font-family: 'Rubik', sans-serif;
  }
  
  .video-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30, 20;

  }
  
  .video-container video {
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
  }



.video-container .controls-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    bottom: 0px;
    width: 100%;
    min-height: 17vh;
    background: linear-gradient(rgba(0,0,0,.001),rgba(0,0,0,.9));
    
}

.video-container .controls {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  
}

.video-container .controls .speed-menu {
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

.video-container .controls .speed-menu .speed-container{
  position: absolute;
  cursor: pointer;
  bottom: 5vmax;
  width: 1vw;
  height: 19vh;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius:10px;
  background: linear-gradient( rgb(71, 70, 70),rgba(36, 35, 35, 0.9));
  min-width: 50px;
  min-height: 130px;
  max-height: 150px;
}

.video-container .controls .speed-menu ul {
  background: linear-gradient( rgb(71, 70, 70),rgba(36, 35, 35, 0.9));
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position:absolute;
  margin: 0;

  width:95%;
  height: 95%;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  padding:0;
  
}

.video-container .controls .speed-menu ul li {
  font-size: .8em;
  width: 100%;
  padding-left: 1em;
  overflow: hidden;
  padding-top: .5em;
  font-family: sans-serif;
  color: white;
  opacity: .5;
  cursor: pointer;
  
}

.video-container .controls .speed-menu ul li:hover {
  background:gray;
  color: "white";
  opacity: .7;
  
}


.video-container .controls button  {
  

    height: 5vw;
    margin: 1vw .5vw;
    border: none;
    background:none;
    outline: none;
    box-shadow: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;
    transition: all .1s ease-in-out;
    opacity: .4;

}



.video-container  .controls button .icon {
  fill: white;
  width: 4vw;
  height: 4vw;
  min-width: 24px;
  min-height: 24px;
  max-width: 38px;
  max-height: 38px;

}

.video-container .controls button:hover {
  opacity: .9;
  transform: scale(1.2);


}

.video-container .progress-controls {
    width: 100%;
    height:.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.video-container .progress-controls .progress-bar {
    width: 94vw;
    height: .85vh;
    background: gray;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: .8;
    transition: all .5s;
    border-radius: 1.5vh;
    min-height: 4px;

}

.video-container .progress-controls .progress-bar:hover {
  height: .9vh;
  background: rgb(175, 175, 175);
}
.video-container .progress-controls .progress-bar .watched-bar{
    transition: all 1;
    height: 110%;
    background:red;
    display: inline-block;
    pointer-events: none;
    border-radius: 1.5vh;

}

.video-container .progress-controls .progress-bar .playhead{
  transition: all 1;
    background:red;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 50%; 
    transform: translateX(-50%);
    display: inline-block
}

.video-container .progress-controls .progress-bar .playhead:hover {
  height: 1.4vw;
  width: 1.4vw;
}  


.video-container .progress-controls .time-remaining{
    font-size: 1vmax;
    display: flex;
    justify-content: center;
    color: white;
    width: 5%;
    margin: .5vw;
  }




  .video-container .controls .name {
    display: flex; 
    font-family: sans-serif;
    font-size: 1.3vw;
    justify-content: flex-start;
    align-items: center ;
    width: 100%;
    height: 100%;
  }

  .video-container .controls .title {
      font-size: 1em;
      color: white;
      font-weight: bold;
      opacity: .8;
 
  }



  .video-container .controls .episode {
     
      font-size: .75 em;
      color: gray;
      padding-left: 1vw;
  }


  .video-container .controls .volume-controls-wrapper {
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.video-container .controls .volume-controls-wrapper .volume-controls {
  position: absolute;
  cursor: pointer;
  bottom: 6vmax;
  width: 2vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
  background: linear-gradient( rgb(71, 70, 70),rgba(36, 35, 35, 0.9));
  min-width: 20px;
  min-height: 120px;

}


.video-container .controls .volume-controls-wrapper .volume-controls .volume-bar {
    width: 30%;
    height: 90%;
    background: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    opacity: .8;
    transition: all .5s;
    border-radius: 1.5vh;

}

.video-container .controls .volume-controls-wrapper .volume-controls .volume-bar:hover {
  width: 35%;
  background: rgb(175, 175, 175);
}

.video-container .controls .volume-controls-wrapper .volume-controls .current-volume-bar{
    transition: all 1;
    height: 50%;
    width: 100%;
    background:red;
    display: inline-block;
    pointer-events: none;
    border-radius: 1.5vh;

}

.video-container .controls .volume-controls-wrapper .volume-controls .volume-bar .volume-head{
    transition: all 1;
    background:red;
    height:1vmax;
    width: 1vmax;
    min-height: 10px;
    min-width: 10px;
    transform: translateY(+50%);
    border-radius: 50%; 
    pointer-events: none;

}

.video-container .controls .volume-controls-wrapper .volume-controls .volume-bar .volume-head:hover{
  height: 1.5vw;
  width: 1.5vw;
  
}  